<p> <%= link_to "Back", articles_path %> </p>

<h1>Write your Article</h1>

<%= form_for Article.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
